@import "./imports/_normalize.scss";

* {
  box-sizing: border-box; }

img {
   width: 100%;
  display: block; }

#app-container {
  font-family: Helvetica, sans-serif;

}

.display-container {
  background: #16BFFD;
  background: -webkit-linear-gradient(to left, #16BFFD, #CB3066);
  background: linear-gradient(to left, #16BFFD, #CB3066);
  margin: 0;
  color: #FFF;
  text-shadow: 4px 4px 8px #000000;
}
h1{
   font-size: 50px;
   color: #FFF;
   text-shadow: 2px 2px 4px #000000;
   font-family: fantasy;
}
p{
   font-size: 15px;
}

.appName{

   font-size: 50px;
   color: #FFF;
   text-shadow: 2px 2px 4px #000000;
   font-family: fantasy;
    }

.login-btn {
  background: #16BFFD; }

.showing-container {
  background-color: #7f8c8d;
  border-radius: 25px;
  padding: 20px;
}
.artist-container{
   background-color: #7f8c8d;

}
.gallery {
  padding: 10px;
  background-color: #89C4F4;
  color: #FFF;
  border-radius: 25px;
  text-shadow: 4px 4px 8px #000000;


}

.artist {
  padding: 10px;
  background-color: #F9690E;
  color: #FFF;
  border-radius: 25px;
  text-shadow: 4px 4px 8px #000000;

}

.createShow {
  padding: 10px;
  background-color: #8E44AD;
  color: #FFF;
  border-radius: 25px;
  text-shadow: 4px 4px 8px #000000;

}

.showGalleries{
  padding: 10px;
  background-color: #86E2D5;
  color: #FFF;
  border-radius: 25px;
  text-shadow: 4px 4px 8px #000000;

   }

.galleryList{
   background: #E55D87; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #E55D87 , #5FC3E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 20px;
      li{
         margin-top: 40px;
         font-size: 20px;
         font-family: fantasy;
         text-shadow: 4px 4px 8px #000000;
         list-style-type: none;
         display: inline-block;
         height: 250px;
         text-align: left;
         color: #FFF;
         img{
            width: 85%;
         }
         a{
            position: fixed;
            top: 5%;
            right: 95%;

         }
      }
}
.artistList{

   background: #E55D87; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #E55D87 , #5FC3E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   li{
      padding: 10px;
      font-size: 20px;
      font-family: fantasy;
      text-shadow: 4px 4px 8px #000000;
      list-style-type: none;


   }
}

#new-gallery-form{
   color: #FFF;
   text-shadow: 4px 4px 8px #000000;
}
#auth-form{
   background: #E55D87; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #E55D87 , #5FC3E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: #FFF;
   margin-top: 40px;
   padding: 10px;
   border-radius: 25px;

}
.galleryshows{

   background-color: #3498db;
   color: #FFF;
}

/*# sourceMappingURL=styles.css.map */
